body{
  text-align: center;
}
@font-face{
  font-family: "Satoshi-mid";
  src:url("Satoshi-Medium.otf")
}
@font-face{
  font-family: "Satoshi-reg";
  src: url("Satoshi-Regular.otf");
}
@font-face{
  font-family: "Satoshi-bol";
  src: url("Satoshi-Bold.otf");
}
h1 {
    margin-top: -15px;
    font-family: 'Satoshi-bol';
    font-style: normal;
    font-size: 96px;
    background-image: linear-gradient(45deg, #FF0F7B, #F89B29 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.print{
  
font-family: 'Satoshi-mid';
font-style: normal;
font-weight: 500;
font-size: 64px;
margin-top: -80px;
color: #1E1E1E;

}
.draging {
  transform: scale(1.1);
}
#preview {
  text-align: center;
  img {
    max-width: 100%
  }
}


.container {
  width: 50%;
  height: 500px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: #999;
  border: 2px dashed ;
  display: inline-block;
  border-radius: 40px;
  transition: transform 0.3s;
  input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
  }
}

.context{
  font-family: 'Satoshi-reg';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 86px;
text-align: center;
margin-top: 20%;
color: #6C6C6C;
}
input[type="file"] {
  display: none;
}
label {
  display: block;
  position: relative;
  background: linear-gradient( 45deg, #FF0F7B, #F89B29) ; 
  font-family: "Satoshi-bol";
  color: #ffffff;
  font-size: 1.1em;
  text-align: center;
  width: 16em;
  padding: 1em 0;
  border-radius: 0.3em;
  margin: 1em auto 1em auto;
  cursor: pointer;
}



.image-display {
  width: 400px;
  height: 450px;
  /* background-color: cyan; */
  border: #FF0F7B  2px solid;
  margin-left: 28em;
  margin-top: 7em;
  border-radius: 22px;
  position: relative;

}
.image-display img {
    height: 450px; 
    width: 400px;
  position: relative;
  border-radius: 20px;
  display: inline-block;

} 

 .image-display2 {
  width: 400px;
  height: 450px;
  border: #FF0F7B  2px solid;
  margin-left: 57em;
  margin-top: -28.25em;
  position: relative;
  border-radius: 22px;

}

.image-display2 img {
height: 450px; 
width: 400px;

border-radius: 20px;

filter: grayscale(100%);

} 


.imagetxt{
  font-family:"Satoshi-reg";
  font-size: 64px;
  text-align: left;
  top:-1.5em
}

.txt1{
  
  position: absolute;
  display: inline-block;
  left: 2em;
}
.txt2{
  position: absolute;
  display: inline-block;
  left:8em;
  white-space: nowrap
}
.active {
  border: 0.2em dashed #025bee;
}
#error {
  text-align: center;
  color: #ff3030;
}
.logo{
  font-family: 'Satoshi-bol';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  background-image: linear-gradient(45deg, #FF0F7B, #F89B29 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;   
  display:inline-block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #333; */
  padding: 5px 20px 0 20px;
}

/* Style the navigation links */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: black;
  font-size: 40px;
  font-family: "Satoshi-mid";
  text-decoration: none;
}

.nav-links li a:hover {
  color: gray;
}

.dont{
  display: none;
}
@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1.5)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(2.5)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(4.2)
      
  }
}

@keyframes move_wave2 {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1.5)
  }
  50% {
      transform: translateX(25%) translateZ(0) scaleY(2.5)
  }
  100% {
      transform: translateX(50%) translateZ(0) scaleY(4.2)
      
  }
  
}
.yes.wave {
  display:inline block;
  position: absolute;
  top:8%;
  width: 50%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 ;
  transform-origin: center ;
  overflow: hidden;
}
.yes.waveTop {
  display:inline block;
  background-size: 50% 100px;
  /* width:100%; */
  position: absolute;
  overflow: hidden;
  display:inline block;
 animation: move_wave2 3s linear;
 left:0;
}
.yes.waveBottom {
  display:inline block;
  background-size: 50% 100px;
  position: absolute;
  /* width:100%; */
  animation-play-state: paused;
  animation: move_wave 3s linear; 
  overflow: hidden;
  right:50px;
}

.circ{
  position:absolute;
  width:100%; height:800px;
  left:0;
  margin:auto auto;
  overflow:hidden;
}
.circ:after{
  content:'';
  position:absolute;
  left:0;
right:0;
margin-left:auto;
margin-right:auto;
   top:25px;
  border-radius:100%;
  width:150px; height:150px;
  box-shadow: 0px 0px 0px 2000px white;
}
