body{
    text-align: center;
    overflow: hidden;
  }
  @font-face{
    font-family: "Satoshi-mid";
    src:url("Satoshi-Medium.otf")
  }
  @font-face{
    font-family: "Satoshi-reg";
    src: url("Satoshi-Regular.otf");
  }
  @font-face{
    font-family: "Satoshi-bol";
    src: url("Satoshi-Bold.otf");
  }
  h1 {
      font-family: 'Satoshi-bol';
      font-style: normal;
      font-weight: 700;
      font-size: 96px;
      background-image: linear-gradient(45deg, #FF0F7B, #F89B29 );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

.logo{
  font-family: 'Satoshi-bol';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  background-image: linear-gradient(45deg, #FF0F7B, #F89B29 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;   
  display:inline-block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #333; */
  padding: 5px 20px 0 20px;
}

/* Style the navigation links */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: black;
  font-size: 40px;
  font-family: "Satoshi-mid";
  text-decoration: none;
}

.nav-links li a:hover {
  color: gray;
}

.bar {
  width: 50%;
  height: 128px;
  background-color: #E4E4E4;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 20px;
}

.bar::before {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 100%;
  background: linear-gradient(45deg, #FF0F7B, #F89B29 );
  border-radius: 20px;
  animation: progress 1s linear forwards;
}

@keyframes progress {
  0% { width: 0%; }
  100% { width: 100%; }
}